body{
	background-image: url("img/header_bg.jpg");
	background-size: cover;

}
img{
	display: block;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 302px;
}
i{
  color: rgba(255, 255, 255, 0.8);
  margin-left: 50px
}

#home{
	margin-left: 400px;
	display: inline-block;
}